h1 {
    cursor: pointer;
}

.height_full {
    height: 100%;
}

/*left div*/
.row-left-div {
    border-right: 3px solid #eeeaff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#44ffb8), to(#2c90ff));
    background: -webkit-linear-gradient(to bottom right, #44ffb8, #2c90ff);
    background: -moz-linear-gradient(to bottom right, #44ffb8, #2c90ff);
    background: -o-linear-gradient(to bottom right, #44ffb8, #2c90ff);
    background: -ms-linear-gradient(to bottom right, #44ffb8, #2c90ff);
    background: linear-gradient(to bottom right, #44ffb8, #2c90ff);
}

/*right div*/
.row-right-div {
}

/*left 目录 item 样式*/
.item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.item:hover {
    background-color: #5bc0de;
}

/*圆形边框样式*/
.circle-border {
    border-radius: 50%;
    padding: 0px 4px;
    font-size: 16px;
}

/*加号 样式*/
.button-span {
    margin-right: 10px;
    cursor: pointer;
    z-index: 99;
}

.button-span:hover {
    -webkit-box-shadow: 0 0 5px rgb(241, 66, 30);
    -moz-box-shadow: 0 0 5px rgb(241, 66, 30);
    box-shadow: 0 0 5px rgb(241, 66, 30);
}

/*文件div样式*/
.fileItemDiv {
    margin-bottom: 3px;
    font-size: 16px;
    padding: 3px 10px;
    border-radius: 4px;
}

.fileItemDiv_1 {
    cursor: pointer;
    margin-bottom: 3px;
    font-size: 16px;
    padding: 3px 10px;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fileItemDiv > a {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 25px);
}

.fileItemDiv:hover {
    background-color: #e1ffed;
}

.fileItemDiv > li {
    display: none!important;
    cursor: pointer;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    float: right;
}

.fileItemDiv:hover > li {
    display: inline-block!important;
    background-color: #818dff;
}

/*查看更多样式*/
.viewMore {
    font-size: 16px;
    cursor: pointer;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #5bc0de;
}

/*分页样式*/
.my-paging-class {
    display: inline-block;
    border-radius: 4px;
    float: right;
}

.my-paging-class > li {
    display: inline;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.my-paging-class > li:hover, .my-homepage:hover, .my-trailerpage:hover {
    cursor: pointer;
    background-color: #ddd;
}

.my-previous-li {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.my-next-li {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.my-paging-count {
    display: inline-block;
    float: right;
    padding: 6px 12px;
    margin-right: 15px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
}

.my-paging-count > input {
    width: 50px;
    height: 30px;
    margin-top: -5px;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline !important;
}

.my-homepage {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.my-trailerpage {
    margin-left: 15px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.pageItemAction {
    background-color: #a0c1ff !important;
    color: white!important;
}

/*排序选择样式*/
.orderBy {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 20px;
}
.orderBySpan {
    font-size: 18px;
}
.orderBySpanSelect {
    color: #ff16ea;
}
